<div class="w-[1200px] m-auto mt-24">
  <p class="m-auto text-2xl font-medium text-center w-[800px] mb-24">
    Анализ существующих библиотек для редактирования направленых ациклических графов (DAG)
  </p>

  <div class="w-[1200px] m-auto flex gap-x-[24px] mt-24">
    <button routerLink="cytoscape" class="w-1/2 p-10 font-medium bg-cyan-900 text-white text-[20px] rounded-[16px]">
      Использование библиотеки cytoscape
    </button>

    <button class="w-1/2 p-10 font-medium bg-cyan-900 text-white text-[20px] rounded-[16px]">
      Использование библиотеки logicFlow
    </button>
  </div>

</div>
