//@import '@logicflow/core/lib/style/index';
//@import '@logicflow/extension/lib/style/index.css';

.custom-h {
  height: calc(100vh - 80px);
}

.custom-top-panel {
  top: calc((100vh - 150px)/2);
}

.custom-left-panel {
  left: calc(100vw - (100vw/6));
}

.draggable {
  cursor: grab;
}

.draggable:active {
  cursor: grabbing;
}
